@font-face {
  font-family: "matura";
  src: url('../fonts/matura.eot');
  src: url('../fonts/matura.otf') format('opentype');
  src: url('../fonts/matura.ttf') format('truetype');
}

@font-face {
  font-family: "desdemona";
  src: url('../fonts/desdemona.eot');
  src: url('../fonts/desdemona.otf') format('opentype');
  src: url('../fonts/desdemona.ttf') format('truetype');
}
