html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.rideImages {
  width: 200px;
  height: 200px;
}

div .column .center {
  margin: 0 auto !important;
  float: none !important;
  text-align: center;
}
